DADOS_ENEM_1998.TXT
DADOS_ENEM_1999.TXT
DADOS_ENEM_2000.TXT
DADOS_ENEM_2001.TXT
DADOS_ENEM_2002.TXT
DADOS_ENEM_2003.TXT
DADOS_ENEM_2004.TXT
DADOS_ENEM_2005.TXT
DADOS_ENEM_2006.TXT
dev.sqlite3
LEIA-ME_ENEM_1998.pdf
LEIA-ME_ENEM_1999.pdf
LEIA-ME_ENEM_2000.pdf
LEIA-ME_ENEM_2001.pdf
LEIA-ME_ENEM_2002.pdf
LEIA-ME_ENEM_2003.pdf
LEIA-ME_ENEM_2004.pdf
LEIA-ME_ENEM_2005.pdf
LEIA-ME_ENEM_2006.pdf
node_modules
